@inherits LayoutComponentBase


<MatThemeProvider Theme="@theme">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>

    <div class="main">
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    Hello, @context.User.Identity.Name!
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="content px-4">
            @Body
        </div>
    </div>
</MatThemeProvider>

@code {

    MatTheme theme = new MatTheme()
    {
        Primary = "#43a047",
        Secondary = "#4caf50"
    };
} 