@page "/login"
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject IMatToaster Toaster

  <div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell"></div>
        <div class="mat-layout-grid-cell">
            <MatCard Class="container">
                <div class="content">
                    <div>
                        <MatHeadline6 class="demo-mat-card-clean-margin">
                            Enter your authentication details
                        </MatHeadline6>
                    </div>

                    <MatBody2>
                        <div class="form-group">
                            <MatTextField @bind-Value="username" Required="true" Label="Login" Class="auth_row"></MatTextField>
                        </div>
                        <div class="form-group">
                            <MatTextField @bind-Value="password" Required="true" Label="Password" Class="auth_row"></MatTextField>
                        </div>
                    </MatBody2>
                    <MatCardActions>
                        <MatCardActionButtons>
                            <MatButton Raised="true" OnClick="OnSignIn" Disabled="inProgress">Sign in</MatButton>
                            </MatCardActionButtons>
                        </MatCardActions>
                </div>
            </MatCard>
        </div>
        <div class="mat-layout-grid-cell"></div>
    </div>
</div>

@code {
    private string username;
    private string password;
    bool isError = false;
    bool inProgress = false;

    public async Task OnSignIn()
    {
        isError = false;
        inProgress = true;

        string token = await AuthService.Login(username, password);
        inProgress = false;
        if (string.IsNullOrEmpty(token))
        {
            isError = true;
            Toaster.Add("Unable to login", MatToastType.Danger);
            return;
        }
        NavigationManager.NavigateTo("/Index", true);
    }
}
