<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="UvsDataEntities" connectionString="metadata=res://*/UVS.csdl|res://*/UVS.ssdl|res://*/UVS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RU-LOB-NB02\SQLEXPRESS;initial catalog=rdata;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <add name="UvsDataEntities" connectionString="Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=filuetSQL;Integrated Security=True"/>
  </connectionStrings>
</configuration>